<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.ExampleMapper">
    <resultMap id="exampleRes" type="ExampleItem">
        <result property="id" column="ID"/>
        <result property="platID" column="PlatID"/>
        <result property="interfaceID" column="InterfaceID"/>
        <result property="title" column="Title"/>
        <result property="detail" column="Detail"/>
        <result property="isEnable" column="IsEnable"/>
        <result property="userId" column="AddUserID"/>
        <result property="addTime" column="AddTiime"/>
    </resultMap>
    <!--分页查询用例详情-->
    <select id="selectCaseDetailAll" parameterType="String" resultMap="exampleRes">
        CALL pro_case_detail(#{value},1)
    </select>
    <!--分页查询用例详情个数-->
    <select id="selectCaseDetailCount" parameterType="String" resultType="long">
        CALL pro_case_detail(#{value},2)
    </select>
    <!--保存用例详情-->
    <select id="saveCaseDetailInfo" parameterType="String" resultType="long">
        CALL pro_case_detail(#{value},3)
    </select>
    <!--通过ID查询用例详情-->
    <select id="selectCaseDetailById" parameterType="String" resultMap="exampleRes">
        CALL pro_case_detail(#{value},4)
    </select>
    <!--启用禁用-->
    <select id="openCloseCaseDetailById" parameterType="String" resultType="long">
        CALL pro_case_detail(#{value},5)
    </select>
</mapper>