<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.FinalResultMapper">
    <resultMap id="finalResultRes" type="FinalResult">
        <result property="id" column="ID"/>
        <result property="execId" column="ExecID"/>
        <result property="execModelId" column="ExecModelID"/>
        <result property="expectId" column="ExpectID"/>
        <result property="detail" column="Detail"/>
        <result property="result" column="Result"/>
        <result property="addtime" column="AddTime"/>
    </resultMap>
    <!--加载用例参数-->
    <select id="selectCaseDicParams" parameterType="String" resultMap="finalResultRes">
        CALL pro_implement_info(#{value},3)
    </select>
    <!--加载预设参数-->
    <select id="selectExpTypeInfo" parameterType="String" resultMap="finalResultRes">
        CALL pro_implement_info(#{value},4)
    </select>
    <!--取得用例标题-->
    <select id="selectCaseDicName" parameterType="String" resultType="String">
        CALL pro_implement_info(#{value},5)
    </select>
</mapper>