<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.LogTypeMapper">
    <resultMap id="logTypeRes" type="LogType">
        <result property="id" column="ID"/>
        <result property="logKey" column="LogKey"/>
        <result property="title" column="Title"/>
        <result property="isEnable" column="IsEnable"/>
    </resultMap>
    <!--保存日志类型信息-->
    <select id="saveLogTypeInfo" parameterType="String" resultType="long">
        CALL pro_log_type(#{value},1)
    </select>
    <!--分页查询日志类型-->
    <select id="selectLogTypeAll" parameterType="String" resultMap="logTypeRes">
        CALL pro_log_type(#{value},2)
    </select>
    <!--分页查询日志类型个数-->
    <select id="selectLogTypeCount" parameterType="String" resultType="long">
        CALL pro_log_type(#{value},3)
    </select>
    <!--按ID查询日志类型-->
    <select id="selectLogTypeById" parameterType="String" resultMap="logTypeRes">
        CALL pro_log_type(#{value},4)
    </select>
    <!--删除日志类型-->
    <select id="deleteLogTypeById" parameterType="String" resultType="long">
        CALL pro_log_type(#{value},5)
    </select>
</mapper>