<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.PilingModelMapper">
    <resultMap id="pilingModelRes" type="PilingModel">
        <result property="id" column="id"/>
        <result property="modelName" column="piling_model_name"/>
        <result property="platId" column="plat_id"/>
        <result property="modelType" column="modelType"/>
        <result property="requestUrl" column="request_url"/>
        <result property="requestType" column="request_type"/>
        <result property="responseItem" column="response_item"/>
        <result property="state" column="state"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <resultMap id="pilExpResultRes" type="PilExpResult">
        <result property="id" column="id"/>
        <result property="details" column="exp_details"/>
        <result property="num" column="exp_num"/>
        <result property="state" column="state"/>
        <result property="userId" column="userId"/>
        <result property="expId" column="exp_id"/>
        <result property="modelId" column="pil_model_id"/>
        <result property="state" column="state"/>
        <result property="sqlId" column="sql_id"/>
    </resultMap>
    <!--添加渠道测试模块-->
    <select id="savePilingModelInfo" parameterType="String" resultType="long">
        CALL pro_piling_model(#{value},1)
    </select>
    <!--分页查询-->
    <select id="selectPilingModelAll" parameterType="String" resultMap="pilingModelRes">
        CALL pro_piling_model(#{value},2)
    </select>
    <!--分页查询个数-->
    <select id="selectPilingModelCount" parameterType="String" resultType="long">
        CALL pro_piling_model(#{value},3)
    </select>
    <!--启用和禁用-->
    <select id="updateOpenClose" parameterType="String" resultType="long">
        CALL pro_piling_model(#{value},4)
    </select>
    <!--按ID查询-->
    <select id="selectPilingModelById" parameterType="String" resultMap="pilingModelRes">
        CALL pro_piling_model(#{value},5)
    </select>
    <!--查询全部-->
    <select id="findPilingModelAll" parameterType="String" resultMap="pilingModelRes">
        CALL pro_piling_model(#{value},6)
    </select>
    <!--保存渠道预期结果-->
    <select id="savePilModelExpResult" parameterType="String" resultType="long">
        CALL pro_piling_expected_result(#{value},1)
    </select>
    <!--分页查询渠道预期结果-->
    <select id="selectPilModelExpResultAll" parameterType="String" resultMap="pilExpResultRes">
        CALL pro_piling_expected_result(#{value},2)
    </select>
    <!--分页查询渠道预期结果个数-->
    <select id="selectPilModelExpResultCount" parameterType="String" resultType="long">
        CALL pro_piling_expected_result(#{value},3)
    </select>
    <!--禁用和启用-->
    <select id="updateModelOpenClose" parameterType="String" resultType="long">
        CALL pro_piling_expected_result(#{value},4)
    </select>
    <!--按ID查询渠道预期结果-->
    <select id="selectPilModelExpResultById" parameterType="String" resultMap="pilExpResultRes">
        CALL pro_piling_expected_result(#{value},5)
    </select>
    <!--通过用例模块配置珠自增ID查询渠道预期结果-->
    <select id="selectExpModelIdByExpResult" parameterType="String" resultMap="pilExpResultRes">
        CALL pro_piling_expected_result(#{value},6)
    </select>
</mapper>