<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.PlatCheckMapper">
    <resultMap id="executeRes" type="ExecuteItem">
        <result property="id" column="ID"/>
        <result property="platID" column="PlatID"/>
        <result property="expectTypeID" column="ExPectTypeID"/>
        <result property="title" column="Title"/>
        <result property="executeSql" column="ExecuteSql"/>
        <result property="isEnable" column="IsEnable"/>
        <result property="userId" column="AddUserID"/>
        <result property="addTime" column="Addtime"/>
        <result property="expectValue" column="ExpectValue"/>
    </resultMap>
    <!--分页查询校验模块-->
    <select id="selectPlatCheckAll" parameterType="String" resultMap="executeRes">
        CALL pro_execute(#{value},1)
    </select>
    <!--分页查询校验模块个数-->
    <select id="selectPlatCheckCount" parameterType="String" resultType="long">
        CALL pro_execute(#{value},2)
    </select>
    <!--保存校验模块-->
    <select id="savePlatCheckInfo" parameterType="String" resultType="long">
        CALL pro_execute(#{value},3)
    </select>
    <!--启用禁用-->
    <select id="startClosePlatCheck" parameterType="String" resultType="long">
        CALL pro_execute(#{value},4)
    </select>
    <!--通过ID查询校验模块-->
    <select id="selectPlatCheckById" parameterType="String" resultMap="executeRes">
        CALL pro_execute(#{value},5)
    </select>
    <!--通过预测类型ID查询校验信息-->
    <select id="selectCheckScriptByPerd" parameterType="String" resultMap="executeRes">
        CALL pro_execute(#{value},6)
    </select>
</mapper>