<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsofo.automation.mapper.PredictionMapper">
    <resultMap id="predictionRes" type="PredictionItem">
        <result property="id" column="ID"/>
        <result property="title" column="Title"/>
        <result property="isEnable" column="IsEnalble"/>
        <result property="userId" column="AddUserID"/>
        <result property="addTime" column="AddTime"/>
    </resultMap>
    <!--保存预测类型-->
    <select id="savePredictionInfo" parameterType="String" resultType="long">
        CALL pro_prediction(#{value},1)
    </select>
    <!--分页查询预测类型-->
    <select id="selectPredictionAll" parameterType="String" resultMap="predictionRes">
        CALL pro_prediction(#{value},2)
    </select>
    <!--分页查询预测类型个数-->
    <select id="selectPredictionCount" parameterType="String" resultType="long">
        CALL pro_prediction(#{value},3)
    </select>
    <!--按ID查询预测类型-->
    <select id="selectPredictionById" parameterType="String" resultMap="predictionRes">
        CALL pro_prediction(#{value},4)
    </select>
    <!--启用或禁用-->
    <select id="openPredictionById" parameterType="String" resultType="long">
        CALL pro_prediction(#{value},5)
    </select>
    <!--查询预测类型的ID和名称-->
    <select id="selectPredIsEnableByName" parameterType="String" resultMap="predictionRes">
        CALL pro_prediction(#{value},6)
    </select>
</mapper>